body  div {
    background-image: url("assets/images/vintage-wallpaper.png");
    background-size: cover;
    background-repeat: repeat;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
 }


.navbar-brand {
    margin-left: 70px;
    padding: 10px   20px;
    background-color: #4aaaa5;
    color: #ffffff!important;
}

.navbar {
    border-bottom: 1px solid #777777;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 0px;
}


header div {
    width: 960px;
    display: inline-block;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 10px;
    color: #777777;
}

#myName {
    background-color: #4aaaa5;
    display: inline-flex;
    flex-direction: row;
    padding :10px;
    flex: row-reverse;
    color: #ffffff;
    width: 10%;
    height: 100%;
}

nav {
    display: inline-block;
}


#middle a {
    
    border-left: thin  solid #777777;
    border-right: thin  solid #777777;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  
}


hr {
    padding: 1px solid;

}

.intro{
    width: 80%;
    margin: 0 auto;
    border-color: #dddddd;
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
}

.intro h2 {
    color: #4aaaa5;
    font-size: 24px;
}
button {
    background-color: #4aaaa5!important;
    border-color: #4aaaa5;
    color: #ffffff;
    
}


.footer {    
    
    background-color: #666666;
    color: #777777;
    text-align: center;
    font-size: 18px;
    border-top: 10px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
